

md-card-image-overlay {

  md-card {
    width: 100% !important;
    margin: 0;

  }

  #md-card-image {
      height: 450px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 2px 2px 0 0;
  }

  .trend-box {
    background: #FFFFFF;
    opacity: .8;
    border-radius: 24px;
    box-shadow: 2px 2px 6px #000;

    font-size: 28px;
    text-align: center;
    margin: 10px;
    padding: 8px;
    margin-top: 20px;
    position: relative;
    top: 20px;


    md-icon {

      height: 32px;
      width: 32px;

      position: relative;
      bottom: 4px;



      svg {
        fill: red !important;
        height: auto;
      }
    }
  }


  /*  stuff for small screens  */
  @media screen and (max-width: 767px) {

    .trend-box {
      font-size: 18px;

      padding: 4px;
      padding-right:6px;


      md-icon {

        height: 18px;
        width: 18px;

        position: relative;
        bottom: 2px;

        svg {
          fill: red !important;

          width: 18px;

        }
      }

    }


  }
}


.logo {
  height: inherit;
  width: 200px;
  height: 40px;
}

.zillow-logo {
  float: left;
  background-repeat: no-repeat;
  border-radius: 2px 2px 0 0;
  background-image: url("/assets/logos/zillow_logo_40x189.png");
 
  height: inherit;
 
  padding: 4px;
  width: 189px;
  background-position: 5px 5px;
    
}
.trulia-logo {
  float: left;
 
  background-repeat: no-repeat;
  border-radius: 2px 2px 0 0;
  background-image: url("/assets/logos/trulia_logo_40x113.png");
  padding: 4px;
  width: 113px;
  height: inherit;
  background-position: 5px 3px;

}
.redfin-logo {
  float: left;

  background-repeat: no-repeat;
  border-radius: 2px 2px 0 0;
  background-image: url("/assets/logos/redfin_logo_40x166.png");
  padding: 4px;
  width: 166px;
  height: inherit;
  background-position: 5px 5px;

}

.showingsdotcom-logo {
  float: left;

  background-repeat: no-repeat;
  border-radius: 2px 2px 0 0;
  background-image: url("/assets/logos/showings.com_logo_40x146.png");
  padding: 4px;
  width: 146px;
  height: inherit;
  background-position: 5px 5px;

}


md-card-image-overlay #md-card {
  width: 100% !important;
  margin: 0;

}

md-card-image-overlay .md-card-image {
  width: 100% !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2px 2px 0 0;
}

md-card-image-overlay .image-text-guard {
  text-align: left;
  width: 100%;
}

md-card-image-overlay .image-text-guard h5 {
  margin: 0;
  padding-left: 5px;
}

md-card-image-overlay .image-text-guard label {
  font-size: 18px;
  padding-left: 5px;
}

md-card-image-overlay .image-text-guard span {
  float: right;
  margin-right: 16px;
  margin-top: 3px;
  font-size: 24px;
}


.treding-list-guard {
  position: absolute;
  right: 0;
  left: 0;
  display: inline-block;
  width: inherit;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45));
  color: #fff;
  font-size: 20px;
  padding: 8px 0 8px 5px;
  text-align: center;
  text-wrap: normal;
  text-shadow: 1px 1px 1px #312D2D;
}

.image-text-guard {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: inherit;
  
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45));
    color: #fff;
    font-size: 20px;
    padding: 8px 0 8px 5px;
    text-align: center;
    text-wrap: normal;
    text-shadow: 1px 1px 1px #312D2D;
  }



.appointment-div {
  background-color: #ED5C56;
  color: #fff;
  height: 70px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 35px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.appointment-div span {
  font-size: 12px;
}

.appointment-div img {
  width: 13px;
}

.appointment-div label {
  font-size: 20px;
}

.appointment-detail-div {
  background-color: #FACECC;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.appointment-detail-div label {
  font-size: 11px;
}

.appointment-detail-div span {
  font-size: 11px;
  float: right;
  margin-top: 5px;
}

.showings-div {
  background-color: #0096A7;
  color: #fff;
  height: 70px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 22px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.showings-div span {
  font-size: 12px;
}

.showings-div img {
  width: 13px;
}

.showings-div label {
  font-size: 20px;
}

.showings-detail-div {
  background-color: #B2DFE5;
  padding-left: 5px;
  padding-right: 2px;
  border-right: 1px solid #fff;
}

.showings-detail-div label {
  //font-size: 11px;
}

.showings-detail-div span {
  //font-size: 11px;
  float: right;
  //margin-top: 5px;
}

.clicks-div {
  background-color: #6C697D;
  color: #fff;
  height: 70px;
  padding-top: 13px;
  padding-left: 12px;
  padding-right: 22px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.clicks-div span {
  font-size: 12px;
}

.clicks-div img {
  width: 11px;
}

.clicks-div label {
  font-size: 18px;
}

.clicks-detail-div {
  background-color: #D3D2D7;
  padding-left: 5px;
  padding-right: 2px;
  border-right: 1px solid #fff;
}

.clicks-detail-div label {
  //font-size: 11px;
}

.clicks-detail-div span {
  //font-size: 11px;
  float: right;
  //margin-top: 5px;
}

.positive-div {
  background-color: #4BBD39;
  color: #fff;
  height: 70px;
  padding-top: 14px;
  padding-left: 12px;
  padding-right: 22px;
  border-bottom: 1px solid #fff;
  white-space: nowrap;
}

.positive-div span {
  font-size: 12px;
  white-space: nowrap;
}

.positive-div img {
  width: 11px;
}

.positive-div label {
  font-size: 16px;
}

.positive-detail-div {
  background-color: #CAEBC5;
  padding-left: 5px;
  padding-right: 2px;
  border-right: 1px solid #fff;
}

.positive-detail-div label {
  //font-size: 11px;
}

.positive-detail-div span {
  //font-size: 11px;
  float: right;
  //margin-top: 5px;
}

md-card {
  width: 100% !important;
  margin: 0;
  font-size: 16px;
}

.redfin-header {
  background-color: #F0F2F2;
}

md-card-redfin .md-card-image {
  background-size: 166px 40px;
  height: 40px;
  width: 166px;
  position: relative;
  top: 0;
  display: inline-block;
}

.redfin-header .mdi {
  float: right;
  margin-top: 16px;
  margin-right: 30px;
  font-size: 18px;
  color: #908FA0;
  font-weight: 700;
}

.left {
  padding: 4px;
}

.left div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.left div label {
  margin-left: 10px;
}

.left div span {
  float: right;
  color: #636075;
  margin-right: 10px;
}

.right {

  padding: 4px;
}

.right div {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.right div span {
  float: right;
  color: #636075;
}


md-card-trulia .md-card-image {
  background-size: 112px 40px;
  height: 40px;
  width: 112px;
  position: relative;
  top: 0px;
  display: inline-block;
  margin: 2px;
}

.site-header {
  background-color: #F0F2F2;
  height: 50px;
  
  .mdi {
    float: right;
    margin-top: 14px;
    margin-right: 30px;
    font-size: 24px;
    color: #908FA0;
    font-weight: 700;

  }
  .logo {
    height: 40px;
  }
}



md-card-zillow .md-card-image {
  background-size: 180px 38px;
  height: 40px;
  width: 189px;
  position: relative;
  top: 0px;
  display: inline-block;
  
  margin: 2px;
      background-position: center center;
    background-repeat: no-repeat;
}




.feedback-header {
  background-color: #F0F2F2;
  padding-left: 18px;
}

.feedback-header h5 {
  color: #54B4BF;
  font-size: 18px;
}

.feedback-div div {
  padding: 8px;
}

.feedback-div div label {
  font-size: 12px;
  color: #636075;
}

.offers-div div {
  padding: 8px;
}

.offers-div div label {
  font-size: 12px;

}

.offers-div div span {
  font-size: 12px;
  margin-right: 10px;
  margin-top: 2px;
}

.offer-list-btn {
  min-height: 1px;
  min-width: 1px;
  height: 16px;
  width: 44px;
  line-height: 0;
  border-radius: 20px !important;
  box-shadow: none !important;
  margin: 0;
  color: #fff;
  margin-right: 6px;

}

.feedback-page {
  margin-left: 4%;
  margin-right: 4%;
}

.offer-header {
  background-color: #F0F2F2;
  padding-left: 18px;
}

.offer-header h5 {
  color: #54B4BF;
  font-size: 18px;
  display: inline-block;
}

.offers-time {
  float: right;
}

.offer-header label {
  float: right;
  margin-top: 4%;
  font-size: 12px;

}

.offer-header-total {
  border-left: 1px solid;
  padding-left: 5px;
  margin-right: 18px;
}

.offer-header-new {
  margin-right: 10px;
  color: rgb(244, 67, 54);
}

.offer-btn {
  float: right;
  border-radius: 200px !important;
  height: 24px;
  min-height: 2px;
  line-height: 0;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 2%;
}

.img-arrow {
  font-size: 22px;
  color: #fff;
  margin-top: 2%;
  margin-left: 2%
}

.img-list-icon {
  float: right;
  margin-right: 2%;
  margin-top: 2%
}

.feedback-div div span {
  font-size: 12px;
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  color: #636075;
}

.feedback-div div p {
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 14px;
  color: #636075;
}

// contains all the colored summary boxes
// at the top of the detail view.
.stats-detail-parent {
 

  div.statrow {

    height: 16px;
    line-height: 14px;
    width: 100%;
    margin: 10px 0 10px 0;
    font-size: 16px;
  }


  span.label {
    float: left;
    font-size: 14px;
  }


  span.stat {
    float: right;
  }
}

.safari .stats-parent {
  margin-top:77px;
  height:157px;
  margin-bottom:20px;
}

.safari .stats-detail-parent {
  
  margin-bottom:85px;

  label: {
    font-size: 12px;
  }
}

.safari .appointment-detail-div {
  height:148px;
}

.safari .offer-header {
  margin-top:14px;
}

.safari .offers-div {
  height: 302px;
}

.safari .feedback-header {
  margin-top:20px; 
  height:150px;
}


.contact-method {
  padding: 4px 0 4px 0;
  white-space: nowrap;
  font-size: .8em;

  .contact-label {
    font-weight: 900;
    md-icon {
      width: 18px;
      height: 18px;
    }


  }
  .contact-value {
  vertical-align: middle;
  }

}




/*  stuff for small screens  */
@media screen and (max-width: 767px) {

  md-card {
    width: 100% !important;
    margin: 0;
    font-size: 12px;

  }

  // zillow card resize
  md-card-zillow .md-card-image,
  md-card-trulia .md-card-image,
  md-card-redfin .md-card-image {

    background-position-x: 3px;
    background-size: 50%;
    background-position-y: 4px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  
  .md-card-image {
    height: 250px;
    
  }

  .site-header {
    
    height: 30px;

    .mdi {
      float: right;
      margin-top: 6px;
      margin-right: 20px;
      font-size: 20px;
      color: #908FA0;
      font-weight: 700;
    }


  .zillow-logo,
  .trulia-logo,
  .redfin-logo,
  .showingsdotcom-logo {
    background-size: 50%;
  }


  }


md-card-image-overlay .image-text-guard label {
  font-size: 14px;
  padding-left: 4px;
}

md-card-image-overlay .image-text-guard span {
  float: right;
  margin-right: 16px;
  margin-top: 3px;
  font-size: 18px;
}

.stats-detail-parent {

    span.label {
      font-size: 12px !important;
    }
    span.stat {
      font-size: 12px;
    }
}
 #md-card-image
  {
    height: 260px !important;

  }
 
} /* end small screen */
