<md-card class="md-card  site-summary-card">

    <div class="site-header">
       

        <div class="logo">
             <img src="assets/logos/sentrilock-logo.png" alt="Sentrilock" />

        </div>
    </div>

    <div class="feedback-div">


        <div ng-if="limit == -1" ng-repeat="entry in vm.sentrilock.entries | filterOutOneDayCodeGen" ng-click="show($event, entry)">  <!--| maxRecords: 5-->
           
            <label><b> {{entry.AccessedByName | accessorName}}</b></label>

            <span>{{entry.UTCAccessedDT}} </span>

            <p>Access type: {{entry.AccessType}} {{entry.UTCAccessedDT | timeago}}</p>
        </div>

 <div ng-if="limit > -1" ng-repeat="entry in vm.sentrilock.entries | filterOutOneDayCodeGen | maxRecords: 5" ng-click="show($event, entry)">>
            <label><b> {{entry.AccessedByName | accessorName}}</b></label>

            <span>{{entry.UTCAccessedDT}} </span>

            <p>Access type: {{entry.AccessType}} {{entry.UTCAccessedDT | timeago}}</p>
        </div>
        <div ng-hide="data.entries <=5 " ng-click="showMoreFeedback()" >
            <label ng-if="limit > -1" ui-sref="app.feedback({ listingId: sentrilock.MLSNumber, card: 'sentri'})"><b>Show More</b></label>
            <span ui-sref="app.feedback({ listingId: theListing.listing_id})"> ... </span>

        </div>

    </div>

  <p class=footer><!--Serial #: {{vm.sentrilock.LBSerialNumber}}--> </p>
    <p class=footer><!--{{vm.sentrilock.updated.time | timeago }}--> </p> 
</md-card>

<!--
  "BorrowingAgentName ":"Dawn Zurick ",
"CompanyExternalID ":"5064 ",
"CurrentListingID ":"LI000009NJSU ",
"listing_id ":"LI000009NJSU ",
"address ":"2203 Bay Oaks Drive LAKEMOOR, IL 60051 ",
"ListingAgentName ":"Dawn Zurick ",
"updated ":{
"time ":1451762461841,
"minutes ":21,
"seconds ":1,
"hours ":13,
"month ":0,
"year ":116,
"timezoneOffset ":360,
"day ":6,
"date ":2
},
"mls_id ":"08680589 ",
"LBSerialNumber ":"00445969 ",
"entries ":[
"AccessedByContact ":" ",
"Association ":null,
"OwnerAgentID ":"AG0000008DLQ ",
"LBID ":"LB0000008ZFB ",
"FromOneDayCode ":false,
"UserID ":"US0000007HLH ",
"Origin ":" ",
"Time ":"12:31:44 ",
"Created ":"2014-10-31 18:37:44 ",
"emailAddy ":null,
"Date ":"Monday, Oct 20 2014 ",
"EmailAddress ":" ",
"UserLastName ":"Rossman ",
"ContactNumber ":null,
"emailAddy2 ":null,
"AccessedByName ":"Contractor Code 3 ",
"ContactName ":"Contractor Code 3 ",
"AgentFirstName ":null,
"Location ":"2203 Bay Oaks Drive LAKEMOOR IL 60051 ",
"PhoneNumber ":" ",
"CompanyName ":" ",
"AgentID ":null,
"AccessLogID ":"AL00001R3CLW ",
"AccessType ":"ContractorCode ",
"rowcolor ":"#FF9 ",
"AgentLastName ":null,
"LBSerialNumber ":"00445969 ",
"UserFirstName ":"Joy ",
"AccessedBy ":"STATCNTCODE3 ",
"UTCAccessedDT ":"Monday, Oct 20 2014 - 12:31 PM "
}...]
    --->