<!--template for the little popo up. -->
<style>
    .dialogdemoBasicUsage #popupContainer {
        position: relative;
    }
    
    .dialogdemoBasicUsage .debt-be-gone {
        font-weight: bold;
        /*color: blue;*/
        text-decoration: underline;
    }
    
    i.plain {
        text-decoration: none;
    }
    .contact-method {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    #showingDetails {
        max-width: 90%;
        width: 500px;
        

    }
    

</style>

<md-dialog id="showingDetails"" class="" aria-label="Showing Details">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools md-primary">
                <h2>
                    <md-icon  md-svg-src="assets/icons/ic_chat_white_24px.svg">

                    </md-icon>
                </h2>
                <h3 style="padding-left: 10px; color: #fff;"> {{showing.contact.name}}</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div>
                <h5 class="order-address">{{showing.startTime | date: "short" }} - {{showing.startTime | timeago }}</h5>
                <md-button ng-if="showActions" class="md-fab  md-fab-bottom-right" aria-label="Add to Contacts" ng-click="addToContacts(showing)">
                    <md-icon md-svg-src="assets/icons/ic_person_add_black_48px.svg"></md-icon>
                </md-button>
                <div class='date-row'> </div>
                <span class="feedback">
                    "{{showing.feedback}}"
                </span>
                <hr>
              
                <div ng-click="dial(showing.contact.phone.mobile)" ng-show='showing.contact.phone && showing.contact.phone.mobile' class="contact-method">
                    <a class='plain' ng-href="">

                        <span class="contact-label"> 
                             <md-icon md-svg-src="assets/icons/ic_phone_iphone_black_48px.svg" aria-label="Mobile"></md-icon> </span>

                        <span class="contact-value">
                    {{showing.contact.phone.mobile}} (Mobile)
              
                    </span>
                </div>
                </a>
                <div ng-click="dial(showing.contact.phone.office)" ng-if='showing.contact.phone && showing.contact.phone.office' class="contact-method">
                  
                       <a class='plain'  ng-href="">
 

                        <span class="contact-label"> 
                             <md-icon md-svg-src="assets/icons/ic_local_phone_black_48px.svg" aria-label="Office"></md-icon> 
                        </span>
                        <span class="contact-value">
                    {{showing.contact.phone.office}} (Office)
                    </span>
                    </a>
                </div>

                <div ng-if='showing.contact.emails.length > 0' class="md-3-line" ng-repeat="email in showing.contact.emails">
                    <div class="contact-method">
                        <span class="contact-label">  <md-icon md-svg-src="assets/icons/ic_mail_outline_black_48px.svg" aria-label="Email"></md-icon> </span>
                        <span class="contact-value">
                            <a href="mailto:{{email}}?Subject=Re%20your%20feedback%20on%20my%20listing..." target="_top">{{email}}</a>
                  
                    </span>
                    </div>
                </div>

            <div ng-if="showActions" style="width: 100%; height: 30px"></div>
            </div>


        </md-dialog-content>
       
    </form>
</md-dialog>