<!--template for the little popo up. -->
<style>
    .dialogdemoBasicUsage #popupContainer {
        position: relative;
    }
    
    .dialogdemoBasicUsage .debt-be-gone {
        font-weight: bold;
        /*color: blue;*/
        text-decoration: underline;
    }
    
    i.plain {
        text-decoration: none;
    }
</style>

<md-dialog aria-label="Showing Details" flex="95">
    <form ng-repeat="showing in showings">
       <!-- <md-toolbar>
            <div class="md-toolbar-tools md- primary">
                <h2>
                    <md-icon  md-svg-src="assets/icons/ic_chat_white_24px.svg">

                    </md-icon>
                </h2>
                <h3 style="padding-left: 10px; color: #fff;"> {{showing.contact.name}}</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-if="$index == 0 "ng-click="cancel()">
                    <md-icon md-svg-src="assets/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
      <!--  </md-toolbar>-->
        <md-dialog-content style="max-width:95%;max-height:95%; padding: 20px">
            <div>
               <h3> {{showing.contact.name}}</h3>
                <h5 class="order-address">{{showing.startTime | date: "medium" }} - {{showing.startTime | timeago }}</h5>
                 
                <h4>
                    {{showing.feedback}}
                </h4>
                <hr>
                <!-- contact":{"phone":{"office":"815-385-6990","mobile":"815-861-0099"} -->
                <div ng-click="dial(showing.contact.phone.mobile)" ng-show='showing.contact.phone && showing.contact.phone.mobile' class="contact-method">
                    <a class='plain' ng-href="">

                        <span class="contact-label"> 
                             <md-icon md-svg-src="assets/icons/ic_phone_iphone_black_48px.svg" aria-label="Mobile"></md-icon> </span>

                        <span class="contact-value">
                    {{showing.contact.phone.mobile}} (Mobile)
              
                    </span>
                </div>
                </a>
                <div ng-click="dial(showing.contact.phone.office)" ng-show='showing.contact.phone && showing.contact.phone.office' class="contact-method">
                    <!--<a class='plain' ng-href="tel:+1-{{showing.contact.phone.office}} ">-->
                       <a class='plain'  ng-href="">
 

                        <span class="contact-label">  <md-icon md-svg-src="assets/icons/ic_local_phone_black_48px.svg" aria-label="Office"></md-icon> </span>
                        <span class="contact-value">
                    {{showing.contact.phone.office}} (Office)
                    </span>
                    </a>
                </div>

                <div ng-show='showing.contact.emails.length > 0' class="md-3-line" ng-repeat="email in showing.contact.emails">
                    <div class="contact-method">
                        <span class="contact-label">  <md-icon md-svg-src="assets/icons/ic_mail_outline_black_48px.svg" aria-label="Email"></md-icon> </span>
                        <span class="contact-value">
                   {{email}}
                    </span>
                    </div>
                </div>


            </div>


        </md-dialog-content>
        <!--<div class="md-actions" layout="row">-->

        <!--<span flex></span>-->
        <!--<md-button ng-show="supersonic != undefined" ng-click="answer('not useful')" >-->
        <!--PHONE-->
        <!--</md-button>-->
        <!--<md-button ng-click="answer('useful')" style="margin-right:20px;" >-->
        <!--EMAIL-->
        <!--</md-button>-->
        <!--</div>-->
    </form>
</md-dialog>