<!--template for the little popo up. -->
<style>
    .dialogdemoBasicUsage #popupContainer {
        position: relative;
    }
    
    .dialogdemoBasicUsage .debt-be-gone {
        font-weight: bold;
        /*color: blue;*/
        text-decoration: underline;
    }
    
    i.plain {
        text-decoration: none;
    }
    
    .gray {
        background-color: #F0F2F2 !important;
    }
    
    .contact-method {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    /*#showingDetails {
        max-width: 90%;
        width: 500px;
    }*/
</style>

<md-dialog id="showingDetails" aria-label="Showing Details">
    <form>
        <md-toolbar>
            <!--<div class="logo">
            <img src="assets/logos/showings.com_logo_40x146.png" alt="Showings.com" />
        </div>-->
            <div class="md-toolbar-tools gray">



  

                 <img ng-if="extId == 8" style="margin-left: -12px;" src="assets/logos/showings.com_logo_40x146.png" alt="Showings.com" />
                      <img ng-if="extId == 10" style="margin-left: -12px;" src="assets/logos/showingassist-logo.png" alt="SA" />
                <!--<h3 style="padding-left: 10px; color: #fff;"> {{showing.contact.name}}</h3>-->
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/icons/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <span class="name">
                 <md-icon  class=person-icon md-svg-src="assets/icons/ic_person_black_48px.svg">
                       
                    </md-icon>
                  
                
                {{showing.contact.name}}
            </span>

            <div class=feedback-div>


                <table>

                    <tr>
                        <td ng-if="extId == 8" class="label">Showing time</td>
                        <td ng-if="extId == 10" class="label">ShowingAssist</td>

                        <td class=card-value>

                            <span class=datetime>{{showing.startTime | date:'short'}}</span>
                            <span class=datetime>&middot;</span>
                            <span class=datetime style="white-space: nowrap">{{showing.startTime | timeago }}</span>

                        </td>
                    </tr>
                    <tr>
                        <td class="label">Showing type</td>

                        <td> <span class="card-value">{{showing.type.name}} </span>

                        </td>
                    </tr>
                    <tr>
                        <td class="label">Result</td>
                        <td> <span class="card-value"> {{showing.type.result}}</span></td>
                    </tr>
                    <tr ng-if="showing.type.message && showing.type.message.length>0">
                        <td class="label">Message</td>
                        <td>
                            <span class="card-value">{{showing.type.message}}</span>
                        </td>
                    </tr>


                </table>
                <div class="contact-info">
                    <md-button ng-if="showActions" class="md-fab  md-fab-bottom-right" aria-label="Add to Contacts" ng-click="addToContacts(showing)">
                        <md-icon md-svg-src="assets/icons/ic_person_add_black_48px.svg"></md-icon>
                    </md-button>

                    <p style="clear: both;" ng-if="showing.feedback" class="feedback card-value">
                        <blockquote>"{{showing.feedback}}"</blockquote>

                    </p>
                    <p style="clear: both;" ng-if="!showing.feedback" class="feedback card-value">

                        <i>"No feedback was provided by agent."</i></p>

                    <hr>

                    <md-button ng-disabled="!showActions" class="md-raised" ng-click="dial(showing.contact.phone.mobile)" ng-show='showing.contact.phone && showing.contact.phone.mobile'>

                        <md-icon md-svg-src="assets/icons/ic_phone_iphone_black_48px.svg" aria-label="dial"></md-icon>
                        {{showing.contact.phone.mobile}} (Mobile)
                    </md-button>

                    <md-button ng-disabled="!showActions" class="md-raised" ng-click="dial(showing.contact.phone.office)" ng-show='showing.contact.phone && showing.contact.phone.office'>

                        <md-icon md-svg-src="assets/icons/ic_local_phone_black_48px.svg" aria-label="dial"></md-icon>
                        {{showing.contact.phone.office}} (Office)
                    </md-button>


                    <md-button ng-if='showing.contact.emails.length > 0' class="md-raised" ng-repeat="email in showing.contact.emails" ng-click="sendMail(email, showing)">
                        <md-icon md-svg-src="assets/icons/ic_mail_outline_black_48px.svg" aria-label="Email"></md-icon>
                        {{email}}

                    </md-button>
                </div>

                <div ng-if="showActions" style="width: 100%; height: 40px"></div>
            </div>


        </md-dialog-content>

    </form>
</md-dialog>