<style>
    card-header {
        width: 100%;
        background-color: #FFF;
        border-bottom: 1px;
        font-weight: 600;
        font-size: 90%;
    }
</style>


<md-card class="md-card  site-summary-card">

    <div class="site-header">
        <div class="showingassist-logo"></div>
    </div>

    <div class="feedback-div">
       

        <div ng-repeat="entry in vm.showingassist.entries | filterOutOneDayCodeGen | maxRecords:5 ">
            <!--<label><b> {{entry.AccessedByName}}</b></label>-->
              <!--<label><b> {{showing.contact.name}}</b></label>-->
            <!--<div ng-bind-html="entry.AccessedByName | accessorName"></div>-->
             <label><b> {{entry.AccessedByName | accessorName}}</b></label>
            <!--<span>{{entry.Date}}</span>-->
            <span>{{entry.UTCAccessedDT}} </span>
            <!--<span>Access type: {{entry.AccessType}}</span>-->
            <p>Access type: {{entry.AccessType}} {{entry.UTCAccessedDT | timeago}}</p>
        </div>

        <div ng-hide="data.entries <=5 " ng-click="showMoreFeedback() ">
            <label><b>Show More</b></label>
            <span> ... </span>
            <!--<p> {{showing.feedback}}</p>-->
       </div>

    </div>
     <!--<div class="card-header">
            Serial #: {{vm.showingassist.LBSerialNumber}}
        </div>-->
     <p class=footer>Serial #: {{vm.showingassist.LBSerialNumber}} </p>
    <p class=footer>{{vm.showingassist.updated.time | timeago }} </p>
</md-card>

