<md-card class="md-card  site-summary-card">
    <div class="site-header">
        <!--<div id= "md-card-image"></div>-->
        <div class="logo">
             <img src="assets/logos/redfin_logo_40x166.png" alt="Redfin"/>
      
           
        </div>
        <!--<i class="mdi md-accent mdi-share-variant"></i>-->

        <div class="card-icons-wrapper">
            <md-button class="md-icon-button" ng-click="vm.openInBrowser(listing.subjectUrl)">
                <md-icon md-svg-src="assets/icons/ic_open_in_browser_black_48px.svg" aria-label="Launch in browser"></md-icon>
            </md-button>
        </div>
    </div>
    <div layout="row">
        <div flex class="left">
            <div>
                <label>Days listed</label>
                <span><b>{{listing.listing_daysOn}}</b></span>
            </div>



            <div>
                <label>Views today</label>
                <span ng-if="listing.listing_views_todayCnt != undefined"><b>{{listing.listing_views_todayCnt}}</b></span>

                <span ng-if="listing.listing_views_todayCnt == undefined"><b>*</b></span>
            </div>
            <div>

                <label>7-day views</label>

                <span ng-if="listing.listing_views_sevenDayCnt != undefined"><b>{{listing.listing_views_sevenDayCnt}}</b></span>

                <span ng-if="listing.listing_views_sevenDayCnt == undefined"><b>*</b></span>

            </div>

            <div>
                <label>30-day views</label>

                <span ng-if="listing.listing_views_thirtyDayCnt != undefined"><b>{{listing.listing_views_thirtyDayCnt}}</b></span>

                <span ng-if="listing.listing_views_thirtyDayCnt == undefined"><b>*</b></span>


            </div>

            <div>
                <label>Total views</label>
                <span><b>{{listing.listing_views_totalCnt}}</b></span>
            </div>
            <!--<div>-->
            <!--<label>All time views</label>-->
            <!--<span><b>5880</b></span>-->
            <!--</div>-->
        </div>
        <div flex class="right">

            <div>
                <label>Current price</label>
                <span ng-show="listing.listing_price">
                    <b>{{listing.listing_price | noFractionCurrency }} </b>
                    </span>

                <span ng-show="! listing.listing_price">
                     <b>*</b>
                 </span>
            </div>
            <div>
                <label>Redfin Estimate</label>
                <span ng-show="listing.redfinEstimate">
                    <b>{{listing.redfinEstimate  | noFractionCurrency}} </b>
                    </span>

                <span ng-show="! listing.redfinEstimate">
                     <b>*</b>
                 </span>
            </div>



            <div style="border-bottom: 1px solid #eee;">
                <label style="color: #636075;"><b>Activity on Redfin</b></label>
            </div>
            <div>
                <label>Favorites</label>

                <span ng-if="listing.listing_favoritesCnt">
                  <md-icon  class="favs inline-small" md-svg-src="assets/icons/ic_favorite_black_24px.svg"></md-icon>
                  <b>{{listing.listing_favoritesCnt}}</b>
              
                </span>
            </div>
            <!--<div>-->
            <!--<label>All time Favorites</label>-->
            <!--<span><b>18</b></span>-->
            <!--</div>-->
            <div>
                <label>X-outs</label>
                <span><b>{{listing.listing_prefs_xOutCnt}}</b></span>
            </div>
            <!--<div>-->
            <!--<label>All time X-outs</label>-->
            <!--<span><b>12</b></span>-->
            <!--</div>-->
        </div>
    </div>

    <!-- <div layout="row" layout-align="space-around center" style="padding: 10px">


        <div class="md-card-left-of-image">
            <table ng-show='listing.est_currentValue == undefined'>
                <thead>

                </thead>

                <div style="overflow: hidden; height: 100%"
                        >
                    <tbody>

                    <tr>
                        <td colspan="2" class="card-section-label redfin-color">listing price</td>
                    </tr>

                    <tr class="data-row">
                        <td class="card-data-label">current value</td>
                        <td class="data">{{listing.est_currentValue | currency:"$":0 }}
                            <md-icon class="negative-color"
                                     ng-show="listing.est_thirtyDayChange < 0"
                                     md-svg-src="/assets/icons/ic_trending_down_black_18px.svg"></md-icon>

                            <md-icon class=""
                                     ng-show="listing.est_thirtyDayChange >= 0"
                                     md-svg-src="/assets/icons/ic_trending_up_black_18px.svg"></md-icon>
                        </td>
                    </tr>

                    </tbody>
                </div>

            </table>

        </div>
        <div id="md-card-image">



            <div ng-show='listing.listing_daysOn != undefined' class="logo-caption">
                {{listing.listing_daysOn}} Days On
            </div>
            <div ng-show='listing.listing_ts != undefined' class="logo-caption">
                {{listing.listing_ts | makeDaysOn}} Days On
            </div>
        </div>


    </div> -->



    <!-- <md-card-content>

        <h2>{{title}}</h2>

        <div layout="row" padding layout-align="space-around center">

            <div> <md-card-stat title="VIEWS" stat-model="listing.listing_views_totalCnt"></md-card-stat></div>

            <div> <md-card-stat title="LIKES" stat-model="listing.listing_prefs_favoritesCnt"></md-card-stat></div>

            <div> <md-card-stat title="X-OUTS" stat-model="listing.listing_prefs_xOutCnt"></md-card-stat></div>

            <div> <md-card-stat ng-show='listing.summary.listing_views_totalCnt' title="TOTAL" value="{{listing.listing_views_totalCnt}}"></md-card-stat></div>


            <div ng-show='listing.summary.listing_views_sevenDayCnt' class="summary-item seven-count">
                {{listing.summary.listing_views_sevenDayCnt}} in last 7 days
            </div>
            <div ng-show='listing.summary.listing_views_thirtyDayCnt' class="summary-item thirty-count">
                {{listing.summary.listing_views_thirtyDayCnt}} in last 30 days
            </div>

        </div>
    </md-card-content> -->
    <!-- <div class="md-actions md-card-actions" layout="row" layout-align="end center">


        <md-button>SHARE
            <i class="mdi md-accent mdi-share-variant"></i>

            <md-button  ng-show="listing.subjectUrl"

                        ng-click="go(listing.subjectUrl)">
                REDFIN
                <i class="mdi md-accent  mdi-forward md-card-icon"></i>
            </md-button>


    </div> -->
    <p class=footer> {{listing.t.time | timeago }} </p>

</md-card>
<!--

"activitySummary":[
{
"est_rentLowRange":"1",
"prop_views_totalCnt":"766",
"est_highRange":"277",
"status":"For Sale",
"listing_mlsId":"08990196",
"est_thirtyDayChange":"-677",
"listing_views_totalCnt":"591",
"est_rent":"1994",
"est_rentHighRange":"2",
"t":{
    "time":1440105194147,
    "minutes":13,
    "seconds":14,
    "hours":16,
    "month":7,
    "timezoneOffset":300,
    "year":115,
    "day":4,
    "date":20
},
"address":"11521 N BURLINGTON RD RICHMOND, IL 60071",
"listing_id":"4F134C97-4E33-45AC-AB89-8A36CB072DDC",
"listing_daysOn":"27",
"est_rentThirtyDayChange":"5",
"est_lowRange":"238",
"mls_id":"08990196",
"extSysId":3,
"listing_trend":null,
"est_currentValue":"256344",
"prop_prefs_favoritesCnt":"14"
}
],
"success":true
-->