<style>

    .negative-color {
        background: #992222;
    }
    .positive-color {
        background: #229922;
    }
</style>

<div id="listing-detail" style="text-align: left;" class="content">

    <div id="three-columns" class="grid-container" style="display:block;">

        <ul class="rig columns-2">
            <li>
                <div style="width: 100%;">
                    <md-card-image-overlay listing="vm.theListing" showings="vm.showings" title="Listing summary stats"></md-card-image-overlay>
                </div>
            </li>

            <li class=no-border>

                <div class="upper-right no-border">

                    <div ng-if="vm.theListing.extSysId=9" layout="row" layout-align="space-around center">
                        <div style="width: 100%; ">
                            <md-card-mred listing="vm.theListing" title="Activity on MRED"></md-card-mred>
                        </div>
                    </div>

                    <br>

                    <div ng-if="vm.theListing.activityAggregate.snapshots[5]" layout="row" layout-align="space-around center">
                        <div style="width: 100%; ">
                            <md-card-redfin listing="vm.theListing.activityAggregate.snapshots[5]" title="Activity on Redfin"></md-card-redfin>
                        </div>
                    </div>

                </div>
            </li>
            

            <li ng-if="vm.theListing.activityAggregate.snapshots[3]">

                <div ng-if="vm.theListing.activityAggregate.snapshots[3]" layout="row" layout-align="space-around center">

                    <div style="width: 100%; ">

                        <md-card-zillow listing="vm.theListing.activityAggregate.snapshots[3] " title="Activity on Zillow">

                        </md-card-zillow>

                    </div>

                </div>

            </li>
            
            <li  ng-if="vm.theListing.activityAggregate.snapshots[4]">
                <div ng-if="vm.theListing.activityAggregate.snapshots[4]" layout="row" layout-align="space-around center">
                    <div style="width: 100%;">
                        <md-card-trulia listing="vm.theListing.activityAggregate.snapshots[4]" title="Activity on Trulia" launch="browse(url) ">
                        </md-card-trulia>
                    </div>
                </div>
            </li>
            
            <li ng-if="vm.theListing.activityAggregate.snapshots[8] && vm.theListing.activityAggregate.snapshots[8].data.length> 0">
                <md-showing-summary ng-if="vm.theListing.activityAggregate.snapshots[8] && vm.theListing.activityAggregate.snapshots[8].data.length> 0"
                imgurl="/assets/logos/ShowingsCom_243.png" listing='vm.theListing' showings='vm.theListing.activityAggregate.snapshots[8].data' title="Summary - Feedback on your showings" 
                sysId="8" limit="4">
                </md-showing-summary>
                <!---->
            </li>

            <li ng-if="vm.theListing.activityAggregate.snapshots[10] && vm.theListing.activityAggregate.snapshots[10].data.length> 0">
                <md-card-showing-assist ng-if="vm.theListing.activityAggregate.snapshots[10] && vm.theListing.activityAggregate.snapshots[10].data.length> 0"
                imgurl="/assets/logos/showingassist-logo.png" listing='vm.theListing' showings='vm.theListing.activityAggregate.snapshots[10].data' title="Summary - Feedback on your showings"
                sysId="10" limit = "4">
                </md-card-showing-assist>
            </li>
           
            <li ng-if="vm.sentrilock.entries.length>0">
                <md-card-sentri ng-if="vm.sentrilock.entries.length>0" sentrilock='vm.sentrilock' title="Sentilock Entry Logs"
                sysId="2" limit="4">
                </md-card-sentri>
            </li>
        </ul>
    </div>
</div>