$minWidth: 320px;
$maxWidth: 600px;

#listing-detail {
    

    
    margin-top: inherit;
    padding: inherit;
    margin: inherit;
    
    width: 100% !important;

.upper-right {
    
    box-shadow: none !important;
    
    
}
ul {
    text-align: left;
}
li {
    .no-shadow {
       
        box-shadow: 0 0 0px #ddd !important;
    }
    min-width: $minWidth !important;
}


.centered {
	text-align: center;
}
.wrapper {
	width: 100%;
	padding: 10px 0;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
ul.grid-nav {
	list-style: none;
	font-size: .85em;
	font-weight: 200;
	text-align: center;
}
ul.grid-nav li {
	display: inline-block;
    width: $minWidth;
}
ul.grid-nav li a {
	display: inline-block;
	background: #999;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
ul.grid-nav li a:hover {
	background: #7b0;
}
ul.grid-nav li a.active {
	background: #333;
}
.grid-container {
	display: none;
}
/* ----- Image grids ----- */
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
    padding: 2%;

}
ul.rig li {
	display: inline-block;
	//padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	//border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	// box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
   /* min-width: $minWidth;*/
}
/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
     min-width: $minWidth;
     max-width: $maxWidth;
}
/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
     min-width: $minWidth;
}

@media (max-width: 1199px) {
	.container {
		width: auto;
		padding: 0 10px;
	}
}

@media (max-width: 720px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}



}
@media (max-width: 320px) {
#listing-detail {
    ul.rig {
  padding: 0px;
}
}
}

.item {
	background-color: white;
	border-bottom: 1px solid #777;
}


