@import "../../assets/scss/snaplistingstheme";

 
md-dialog {

    .contact-info {

         .md-button.md-raised:not([disabled]):hover {
              background-color: $primary-color-dark !important;
         }

        .md-button {
            color: #fff ;
            background-color: $primary-color-dark;

            .md-raised[disabled] {

                 md-icon svg {
            fill: #000 !important;
            
        }
       
        
            color: #000 !important;
            }
        }
        md-icon svg {
            fill: #fff ;
            
        }
        

    }

span.name {
    font-weight: 700;
    .person-icon {
        position: relative;
        top: -3px;
        height: 30px;
        width: 30px;
    }

}

blockquote {
    border-left: 4px solid #ccc;
    color: #a5a4a4;
    font-style: italic;
    margin: 5px;
    padding-left: 15px;
}
    
    max-width: 80%;
   
    max-height: 80%;
   
    min-width: 300px;
    width: 600px;
    font-size: 16px;
    md-toolbar {
        box-shadow: 1px 1px 13px #aaa;
    }
    .md-fab {
        background-color: #fff !important;
        width: 42px !important;
        height: 42px !important;
    }
    .md-fab-bottom-right {
        right: 6px !important;
        bottom: 6px !important;
    }
    .orgs {
        margin-top: 10px;
        margin-bottom: 10px;
    }
     .feedback {
        font-size: .9em;
        //padding: 10px;
    }

    @media screen and (max-width: 400px) {
    
        .md-button {
            font-size: 12px;
               
    margin: 3px 2px;
    padding: 0 2px;
        }
    }

span.name {
    font-size: 20px;
    .person-icon {
        position: relative;
        top: -3px;
        height: 20px;
        width: 20px;
    }

}




}
md-dialog-content {
    
    padding: 20px;

     table, th, td {
        padding: 4px;
        .label {
             white-space: nowrap;
        font-weight: 600;

        }
        .value {
             color: #636075;
        font-weight: 800;
        }
        border: none;   
    }
}
.contact-method {
    padding-top: 4px;
    padding-bottom: 4px;
}

@media screen and (max-width: 767px) {

    md-dialog {
        max-width: 95%;
        //width: 500px;
        max-height: 95%;
        font-size: 16px;
    }

    md-dialog-content {

        padding: 6px;

        .orgs {
            margin-top: 4px;
        }
         table, th, td {
             padding: 2px 4px 2px 4px;
         }


    }
    md-card {
        label {
            font-size: 12px !important;
        }
    }

    md-content {
        font-size: .8em !important;
    }

    .feedback {
        font-size: .9em;
        //padding: 10px;
    }
}

@media screen and (max-width: 400px) {

    md-dialog {
        font-size: 14px;
    }
}